@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

:root {
  --gray: #4D4D4D;
  --violet: #800080;
  --gradient: linear-gradient(270deg, #800080 0%, #FF864C 100%);
  --black: #000000;
  --light-orange:#EEAEAE;
}

body {
  margin: 0 4.625rem;
  height: 100vh;
}

/************* SMALL DEVICES *************/
@media (width <= 600px) {

  body {
    margin: 0;
  }
}