.enrolled-box {
    width: 22.375rem;
    height: 16rem;
    background: var(--gradient) ;
    padding:  1.25rem;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.enrolled-box > div {
    background:  var(--gradient);
    color: #ffffff;
}

.enrolled-box > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.enrolled-box span, .enrolled-box p  {
    background: initial;
}

.friend-name {
    font-size: 1rem;
    font-weight: 700 ;
}

.date {
    font-size: 0.875rem;
    font-weight: 400 ;
}

.heading {
    font-size: 0.875;
    font-weight: 500 ;
}

.courses {
    background: initial;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.course {
    width: fit-content;
    border: 2px solid #ffffff;
    border-radius: 20px;
   margin: .5rem .3rem;
    padding: .2rem .5rem ;
    background: initial;
    color: #ffffff;
}

.enrolled-box >div:nth-last-child(2) {
    margin: 1rem 0 1.25rem 0;
}

.referral-amount {
    display: flex;
    gap: 1rem;
}

.referral-amount > p {
    font-size: 1rem;
    font-weight: 400;
}

.referral-amount > span{
    font-size: 1.25rem;
    font-weight: 600;
}



